<!doctype>
<html>

  <head>
      <title>Mood Food</title>
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>


  <body>
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Mood Food</h1>
           <h4>Welcome!!! Please click your mood and find the perfect recipe to make for your mood right now!!!</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>How are you feeling???</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/aggravated">Aggravated</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/amused">Amused</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/angry">Angry</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/annoyed">Annoyed</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/anxious">Anxious</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/blissful">Blissful</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/bouncy">Bouncy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/calm">Calm</a>
        </div>
        <div class="col-xs-2"> 
          <a href="cheerful">Cheerful</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/clueless">Clueless</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/confused">Confused</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/content">Content</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/cranky">Cranky</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/crappy">Crappy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/crazy">Crazy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/curious">Curious</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/cynical">Cynical</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/depressed">Depressed</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/devious">Devious</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/disappointed">Disappointed</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/discontent">Discontent</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/ditzy">Ditzy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/dreamy">Dreamy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/ecstatic">Ecstatic</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/energetic">Energetic</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/envious">Envious</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/excited">Excited</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/flirty">Flirty</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/frustrated">Frustrated</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/giddy">Giddy</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/giggly">Giggly</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/gloomy">Gloomy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/grateful">Grateful</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/grumpy">Grumpy</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/guilty">Guilty</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/happy">Happy</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/high">High</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/hopeful">Hopeful</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/hyper">Hyper</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/impressed">Impressed</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/indifferent">Indifferent</a>
        </div>
        <div class="col-xs-2"> 
          <a href="infuriated">Infuriated</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/irate">Irate</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/irritated">Irritated</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/jealous">Jealous</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/joyful">Joyful</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/jubiliant">Jubilant</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/lazy">Lazy</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/lethargic">Lethargic</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/listless">Listless</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/lonely">Lonely</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/mad">Mad</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/mellow">Mellow</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/mischievous">Mischievous</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/moody">Moody</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/mournful">Mournful</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/numb">Numb</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/optimistic">Optimistic</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/paranoid">Paranoid</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/peaceful">Peaceful</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/pessimistic">Pessimistic</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/pleased">Pleased</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/rejected">Rejected</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/rejuvinated">Rejuvenated</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/relaxed">Relaxed</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/relieved">Relieved</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/restless">Restless</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/sad">Sad</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/satisfied">Satisfied</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/shocked">Shocked</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/silly">Silly</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/smart">Smart</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/stressed">Stressed</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/surprised">Surprised</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/sympathetic">Sympathetic</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/thankful">Thankful</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/uncomfortable">Uncomfortable</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/weird">Weird</a>
        </div>
      </div>

 

<!--     <div class="row">
      <div class="col-xs-12">
        <form method="post" action="/">
        Enter your number here to receive a text with a recipe!
        <input type="text" name="phone_number">

        <button type="submit"> Enter</button>
        </form>

        <form method="post" action="/">
        Enter your email address here to receive a text with a recipe!
        <input type="text" name="email_address">

        <button type="submit"> Enter</button>
        </form>
      </div>
    </div>
 -->
 
  </div>
    <!-- <h7>Copyright to Lyel Resner and Zoe Goldstein. Do not abuse Mood Food.</h7> -->
  </body>

</html>