<!doctype>
<html>

  <head>
      <title>Mood Food</title>
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>


  <body>
    <div class="container">
      
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Mood Food</h1>
           <h4>Welcome!!! Please click your mood and find the perfect recipe to make for your mood right now!!!</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>How are you feeling???</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <a href="/aggravated">Aggravated</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/amused">Amused</a>
        </div>
        <div class="col-xs-2"> 
          <a href="/angry">Angry</a>
        </div>
        <div class="col-xs-2"> 
          <p>Annoyed</p>
        </div>
        <div class="col-xs-2"> 
          <p>Anxious</p>
        </div>
        <div class="col-xs-2"> 
          <p>Blissful</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Bouncy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Calm</p>
        </div>
        <div class="col-xs-2"> 
          <p>Cheerful</p>
        </div>
        <div class="col-xs-2"> 
          <p>Clueless</p>
        </div>
        <div class="col-xs-2"> 
          <p>Confused</p>
        </div>
        <div class="col-xs-2"> 
          <p>Content</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Cranky</p>
        </div>
        <div class="col-xs-2"> 
          <p>Crappy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Crazy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Curious</p>
        </div>
        <div class="col-xs-2"> 
          <p>Cynical</p>
        </div>
        <div class="col-xs-2"> 
          <p>Depressed</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Devious</p>
        </div>
        <div class="col-xs-2"> 
          <p>Disappointed</p>
        </div>
        <div class="col-xs-2"> 
          <p>Discontent</p>
        </div>
        <div class="col-xs-2"> 
          <p>Ditzy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Dreamy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Ecstatic</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Energetic</p>
        </div>
        <div class="col-xs-2"> 
          <p>Envious</p>
        </div>
        <div class="col-xs-2"> 
          <p>Excited</p>
        </div>
        <div class="col-xs-2"> 
          <p>Flirty</p>
        </div>
        <div class="col-xs-2"> 
          <p>Frustrated</p>
        </div>
        <div class="col-xs-2"> 
          <p>Giddy</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Giggly</p>
        </div>
        <div class="col-xs-2"> 
          <p>Gloomy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Grateful</p>
        </div>
        <div class="col-xs-2"> 
          <p>Grumpy</p>
        </div>
        <div class="col-xs-2"> 
          <p>Guilty</p>
        </div>
        <div class="col-xs-2"> 
          <p>Happy</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>High</p>
        </div>
        <div class="col-xs-2"> 
          <p>Hopeful</p>
        </div>
        <div class="col-xs-2"> 
          <p>Hyper</p>
        </div>
        <div class="col-xs-2"> 
          <p>Impressed</p>
        </div>
        <div class="col-xs-2"> 
          <p>Indifferent</p>
        </div>
        <div class="col-xs-2"> 
          <p>Infuriated</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Irate</p>
        </div>
        <div class="col-xs-2"> 
          <p>Irritated</p>
        </div>
        <div class="col-xs-2"> 
          <p>Jealous</p>
        </div>
        <div class="col-xs-2"> 
          <p>Joyful</p>
        </div>
        <div class="col-xs-2"> 
          <p>Jubilant</p>
        </div>
        <div class="col-xs-2"> 
          <p>Lazy</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Lethargic</p>
        </div>
        <div class="col-xs-2"> 
          <p>Listless</p>
        </div>
        <div class="col-xs-2"> 
          <p>Lonely</p>
        </div>
        <div class="col-xs-2"> 
          <p>Mad</p>
        </div>
        <div class="col-xs-2"> 
          <p>Mellow</p>
        </div>
        <div class="col-xs-2"> 
          <p>Mischievous</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Moody</p>
        </div>
        <div class="col-xs-2"> 
          <p>Mournful</p>
        </div>
        <div class="col-xs-2"> 
          <p>Numb</p>
        </div>
        <div class="col-xs-2"> 
          <p>Optimistic</p>
        </div>
        <div class="col-xs-2"> 
          <p>Paranoid</p>
        </div>
        <div class="col-xs-2"> 
          <p>Peaceful</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Pessimistic</p>
        </div>
        <div class="col-xs-2"> 
          <p>Pleased</p>
        </div>
        <div class="col-xs-2"> 
          <p>Rejected</p>
        </div>
        <div class="col-xs-2"> 
          <p>Rejuvenated</p>
        </div>
        <div class="col-xs-2"> 
          <p>Relaxed</p>
        </div>
        <div class="col-xs-2"> 
          <p>Relieved</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Restless</p>
        </div>
        <div class="col-xs-2"> 
          <p>Sad</p>
        </div>
        <div class="col-xs-2"> 
          <p>Satisfied</p>
        </div>
        <div class="col-xs-2"> 
          <p>Shocked</p>
        </div>
        <div class="col-xs-2"> 
          <p>Silly</p>
        </div>
        <div class="col-xs-2"> 
          <p>Smart</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"> 
          <p>Stressed</p>
        </div>
        <div class="col-xs-2"> 
          <p>Surprised</p>
        </div>
        <div class="col-xs-2"> 
          <p>Sympathetic</p>
        </div>
        <div class="col-xs-2"> 
          <p>Thankful</p>
        </div>
        <div class="col-xs-2"> 
          <p>Uncomfortable</p>
        </div>
        <div class="col-xs-2"> 
          <p>Weird</p>
        </div>
      </div>

 

<!--     <div class="row">
      <div class="col-xs-12">
        <form method="post" action="/">
        Enter your number here to receive a text with a recipe!
        <input type="text" name="phone_number">

        <button type="submit"> Enter</button>
        </form>

        <form method="post" action="/">
        Enter your email address here to receive a text with a recipe!
        <input type="text" name="email_address">

        <button type="submit"> Enter</button>
        </form>
      </div>
    </div>
 -->
 
  </div>
    <!-- <h7>Copyright to Lyel Resner and Zoe Goldstein. Do not abuse Mood Food.</h7> -->
  </body>

</html>